/* CSS Document */

/********************* GENERIC STYLING *******************/
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

body {
  background-color: var(--backgroundColor);
  font-family: 'Poppins', sans-serif;
}

::selection {
  color: none;
  background: var(--accentColor);
}


/********************* COLORS *******************/
:root {
  --backgroundColor: #ffffff;
  --accentColor: #A3CB38;
  --textColor: #222222;
  --hintBackgroundColor: #e9e9e9;
}

@media (prefers-color-scheme: dark) {
  :root {
  --backgroundColor: #242424;
  --accentColor: #A3CB38;
  --textColor: #ffffff;
  --hintBackgroundColor: #464646;
  }
}


/********************* HEADER *******************/
header {
  padding: 1.6em 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
}

header a > svg {
  max-width: 100%;
  width: 6em;
  fill: var(--textColor);
  transition: 0.4s ease;
}

header a:hover > svg {
  fill: var(--accentColor);
} 

header > a {
  transition: 0.4s ease;
}

header > a:hover {
  transform: rotate(-8deg);
}

header > div input {
  background-color: transparant;
  background-image: url('../images/search.svg');
	background-position:  0.8em center;
	background-repeat: no-repeat;
	background-size: 2em 2em;
	border: none;
	cursor: pointer;
	height: 3.5em;
	margin: 0.2em 0;
	padding: 0 0 0 3.5em;
	position: relative;
	transition: width 0.4s ease;
	width: 0;  
  border-radius: 25px;
  font-family: 'Poppins', sans-serif;
}

header > div {
  /* background-color: yellow; */
  display: flex;
  align-items: center;
}

header > div input:focus {
  background-color: #fff;
	border: 2px solid rgb(221, 221, 221);
	cursor: text;
	outline: 0;
	width: 20em;
}

header > div button {
  width: 2.5em;
  background: none;
  display: flex;
  align-items: center;
  margin-right: 2em;
  cursor: pointer;
  position: relative;
}

header > div button svg {
  width: 100%;
  fill: var(--textColor);
  stroke: var(--textColor);
}

header > div button span {
  position: absolute;
  right: -0.5em;
  top: 1.5em;
  background: var(--textColor);
  color: var(--backgroundColor);
  display: flex;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
  font-family: 'Poppins', sans-serif;
}


/* Hide default search styling
https://stackoverflow.com/questions/9421551/how-do-i-remove-all-default-webkit-search-field-styling
*/
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none; 
}

/* Hide content
https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/
*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


/********************* MAIN *******************/
body {
  overflow-x: hidden;
}

main {
  max-width: 1280px;
  margin: auto;
  padding: 1em 1em 10em 1em;
}

main > aside {
  border-bottom: 2px solid #ebebeb;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  padding: 1em 0 2em;
}

main > aside input + label {
  cursor: pointer;
  opacity: 0.4;
  padding: 1em 0.3em;
  color: var(--textColor);
} 

main > aside input:checked + label {
  opacity: 1;
} 

main > aside input:focus + label {
  outline: -webkit-focus-ring-color auto 1px;
}

main > aside label {
  position: relative;
}

main > aside label::before {
  content: '';
  display: block;
  width: 4em;
  height: 4em;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 1em;
}

main > aside label:nth-of-type(1)::before {
  background-color: var(--accentColor);
}

main > aside label:nth-of-type(2)::before {
  background-image: url(../images/gallery/image-animal1.jpg);
}

main > aside label:nth-of-type(3)::before {
  background-image: url(../images/gallery/image-building1.jpg);
}

main > aside label:nth-of-type(4)::before {
  background-image: url(../images/gallery/image-nature1.jpg);
}

main > aside label:nth-of-type(5)::before {
  background-image: url(../images/gallery/image-car1.jpg);
}

main > aside input:checked + label::after {
  content:"";
	display:block;
  width: 4em;
  height: 4em;
  position: absolute;
  top: 0;
  border-radius: 100%;
  opacity: 1;
}

main > ul,
#favorites-overlay > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5em;
  list-style-type: none;
  padding-top: 5em;
}

main > ul li,
#favorites-overlay > ul li {
  max-width: 36em;
  position: relative;
  overflow: hidden;
}

main > ul li::after,
#favorites-overlay > ul li::after {
  content: '';
  position: absolute;
  left: 0; 
  top: 0;
  width: 100%; height:100%;
  display: inline-block;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.50) 100%);
  border-radius: 12px;
}

main > ul li > a {
  position: absolute;
  background: rgba(0, 0, 0, 0.70);
  border-radius: 40px;
  width: 3.5em;
  height: 3.5em;
  right: 1em;
  top: 1em;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.4s ease;
} 

main > ul li > a:hover {
  background: rgba(134, 134, 134, 0.7);
}

main > ul li > a img {
  width: 1.7em;
  height: 1.7em;
} 

main > ul li > a img::selection {
  background: none;
}

main > ul li div,
#favorites-overlay > ul li div {
  padding: 1.3em;
  position: absolute;
  bottom: -2em;
  z-index: 2;
  color: white;
  transition: 0.4s ease;
}

main > ul li:hover div, 
main > ul li:focus div,
#favorites-overlay > ul li:hover div,
#favorites-overlay > ul li:focus div {
  bottom: 0;
}

main > ul li:hover p, 
main > ul li:focus p, 
#favorites-overlay > ul li:hover p,
#favorites-overlay > ul li:focus p {
  opacity: 1;
}

main > ul li h3,
#favorites-overlay > ul li h3 {
  font-weight: 500;
  font-size: 1.2em;
}

main > ul li p,
#favorites-overlay > ul li p {
  opacity: 0;
  margin-top: 0.5em;
  font-weight: 200;
  font-size: 0.9em;
  color: var(--accentColor);
  transition: 0.4s ease;
}

main > ul.animals li:not(.animal) {
  display:none;
}

main > ul.buildings li:not(.building) {
  display:none;
}

main > ul.nature li:not(.nature) {
  display:none;
}

main > ul.cars li:not(.car) {
  display:none;
}

main > ul li > img,
#favorites-overlay > ul li > img {
  position:relative;
  width: 100%;
  display: block;
  border-radius: 12px;
  z-index: -1;
  object-fit: cover;
} 

main > section#favorites-overlay {
  z-index: 999999;
  background-color: var(--backgroundColor);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  transform: translateX(100%);
  transition: 0.4s ease;
  overflow-y: scroll;
  padding: 1em 1em 10em 1em;
}

main > section#favorites-overlay h1 {
  margin-top: 3em;
  font-size: 2em;
  color: var(--textColor);
  text-align: center;
}

main > section#favorites-overlay h2 {
  margin-top: 3em;
  font-weight: 500;
  color: var(--textColor);
  text-align: center;
}

main > section#favorites-overlay ul {
  max-width: 1280px;
  margin: auto;
}

main > section#favorites-overlay.active {
  transform: translateY(0);
}

main > section#favorites-overlay > button {
  position: absolute;
  right: 2em;
  top: 2em;
  width: 2em;
  background: none;
  cursor: pointer;
}

main > section#favorites-overlay > button:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

main > section#favorites-overlay > button svg {
  width: 100%;
}

main > section#favorites-overlay > button svg path {
  fill: var(--textColor);
}

main > section#favorites-overlay .remove {
  z-index: 99999;
  background: none;
  background-image: url(../images/close-white.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 2em;
  right: 2em;
  width: 2em;
  height: 2em;
  cursor: pointer;
  transition: 0.4s ease;
}

main > section#favorites-overlay .remove:hover {
  transform: rotate(-90deg);
}

@keyframes likeAnimation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}

#hint-dialog {
  transform: translateX(200%);
  transition: 0.8s ease-out;
  position: fixed;
  background-color: var(--hintBackgroundColor);
  max-width: 30em;
  width: 100%;
  bottom: 3em;
  right: 3em;
  padding: 2em;
  border-radius: 12px;
  z-index: 9;
  color: var(--textColor);
}

#hint-dialog.active {
  transform: translateX(0)
}

@media only screen and (max-width: 600px) {
  #hint-dialog {
    bottom: 0.5em;
    right: 0.5em;
    max-width: 22em;
  }
}

/*
Heart Clip path bron:
https://codepen.io/chriscoyier/pen/BObqoy
*/
.liked:before {
  content: '';
  position: absolute;
  top: calc(50% - 125px);
  left: calc(50% - 125px);
  background-color:  var(--accentColor);
  width: 250px;
  height: 250px;
  object-fit: cover;
  clip-path: path('M213.1,6.7c-32.4-14.4-73.7,0-88.1,30.6C110.6,4.9,67.5-9.5,36.9,6.7C2.8,22.9-13.4,62.4,13.5,110.9 C33.3,145.1,67.5,170.3,125,217c59.3-46.7,93.5-71.9,111.5-106.1C263.4,64.2,247.2,22.9,213.1,6.7z'); 
  margin: 0;
  animation: likeAnimation 1s ease 1 forwards;
  z-index: 99;
}

